Bot Application1/xsd/money.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mol.gov.tw">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FIELDS">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="colum_1"/>
              <xs:element type="xs:string" name="colum_2"/>
              <xs:element type="xs:string" name="colum_3"/>
              <xs:element type="xs:string" name="colum_4"/>
              <xs:element type="xs:string" name="colum_5"/>
              <xs:element type="xs:string" name="colum_6"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DATA" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="colum_1"/>
              <xs:element type="xs:string" name="colum_2"/>
              <xs:element type="xs:string" name="colum_3"/>
              <xs:element type="xs:int" name="colum_4"/>
              <xs:element type="xs:short" name="colum_5"/>
              <xs:element type="xs:short" name="colum_6"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>