Bot Application1/weather.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:cwb:gov:tw:cwbcommon:0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cwbopendata">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="identifier"/>
                <xs:element type="xs:string" name="sender"/>
                <xs:element type="xs:dateTime" name="sent"/>
                <xs:element type="xs:string" name="status"/>
                <xs:element type="xs:string" name="msgType"/>
                <xs:element type="xs:string" name="source"/>
                <xs:element type="xs:string" name="dataid"/>
                <xs:element type="xs:string" name="scope"/>
                <xs:element name="dataset">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="datasetInfo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="datasetDescription"/>
                                        <xs:element type="xs:dateTime" name="issueTime"/>
                                        <xs:element type="xs:dateTime" name="update"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="location" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="locationName"/>
                                        <xs:element name="weatherElement" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="elementName"/>
                                                    <xs:element name="time" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:dateTime" name="startTime"/>
                                                                <xs:element type="xs:dateTime" name="endTime"/>
                                                                <xs:element name="parameter">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="parameterName"/>
                                                                            <xs:element type="xs:byte" name="parameterValue" minOccurs="0"/>
                                                                            <xs:element type="xs:string" name="parameterUnit" minOccurs="0"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>